<div class="uk-overflow-auto">
    <table class="uk-table uk-table-responsive uk-table-middle uk-table-small">
        <tbody>
        <tr>
            <td class="uk-width-small"><img class="uk-preserve-width" src="{{ index .Params "src" | relURL }}" width="100"
                                            alt=""></td>
            <td>
                <h3>{{ index .Params "name" }}</h3>
                <p>
                    {{ if isset .Params "title" }}
                        <span class="uk-text-bold">{{ index .Params "title" }}</span> <br>
                    {{ end }}
                    {{ if isset .Params "department" }}
                        {{ index .Params "department" }} <br>
                    {{ end }}
                    {{ if isset .Params "university" }}
                        {{ index .Params "university" }} <br>
                    {{ end }}
                    {{ if isset .Params "email" }}
                        eMail: <a href="mailto:{{ index .Params "email" }}">{{ index .Params "email" }}</a>
                    {{ end }}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
